# Final project

Introduction to Data Science – Fall 2019
Industrial & Management Engineering
Hankuk University of Foreign Studies
Global Campus, Yongin
Instructor: Bernardo N. Yahya
Olympic Team

## Before starting...

In [1]:
# package import
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
# load datasets
df_athletes = pd.read_csv('data/athletes.csv')
df_athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
df_athletes = df_athletes.drop( columns="Name")
df_athletes = df_athletes.drop( columns="Games")
df_athletes = df_athletes.drop( columns="Team")
df_athletes.head()

,ID,Sex,Age,Height,Weight,NOC,Year,Season,City,Sport,Event,Medal
0,1,M,24.0,180.0,80.0,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,M,23.0,170.0,60.0,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,M,24.0,NaN,NaN,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,M,34.0,NaN,NaN,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,F,21.0,185.0,82.0,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df_athletes.drop( df_athletes[ df_athletes['Year'] < 1960].index , inplace=True)

In [5]:
df_athletes.head()

,ID,Sex,Age,Height,Weight,NOC,Year,Season,City,Sport,Event,Medal
0,1,M,24.0,180.0,80.0,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,M,23.0,170.0,60.0,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
4,5,F,21.0,185.0,82.0,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,F,21.0,185.0,82.0,NED,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,F,25.0,185.0,82.0,NED,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
df_athletes.loc[df_athletes.NOC == 'NED', 'NOC'] = 'NER'

In [7]:
#df_summer = df_athletes[df_athletes['Season']=='Summer']
#df_summer.head()

In [8]:
#df_winter = df_athletes[df_athletes['Season']=='Winter']
#df_winter.head()

In [9]:
df_countries = pd.read_csv('data/countries.csv')
df_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [10]:
df_GDP = pd.read_csv('data/GDP.csv')
df_GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139,520.896603,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198,5253.630064,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371,42029.762737,NaN

In [11]:
df_GDP=df_GDP.drop( columns="Country Name")

In [12]:
df_GDP.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492,NaN,NaN
1,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139,520.896603,NaN
2,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736,NaN
3,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198,5253.630064,NaN
4,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371,42029.762737,NaN

In [13]:
df_GDP.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,133.000000,134.000000,136.000000,136.000000,136.000000,146.000000,147.000000,150.000000,154.000000,154.000000,...,251.000000,252.000000,251.000000,252.000000,251.000000,250.000000,250.000000,246.000000,231.000000,0.0
mean,477.090548,510.997180,537.759283,570.571590,620.118759,687.168945,730.812250,747.106490,766.201365,828.090061,...,14423.626372,15903.921344,15822.664863,16354.589444,16356.195139,14707.131596,14747.116816,14515.124497,14148.865580,NaN
std,597.614845,642.387548,674.781661,714.643153,782.415979,874.030595,940.758849,971.350324,1002.331545,1076.088550,...,21710.830053,23961.297976,23150.370578,24726.589825,25092.278876,22369.580670,22472.843662,20608.291936,19413.684253,NaN
min,40.537115,40.689390,34.790581,40.752237,41.083814,45.989354,37.488783,46.642770,48.784045,51.794609,...,234.235647,249.577979,252.358980,256.976003,248.844951,293.465423,282.149682,293.009062,275.429603,NaN
25%,107.949993,109.211954,114.955692,123.204376,124.980086,141.029619,145.767969,157.983788,159.262062,161.937705,...,1575.699381,1738.219933,1873.610010,1957.578334,2035.213733,2009.418262,2050.138368,2006.922358,2021.886228,NaN
50%,231.025649,217.409205,232.156045,252.392332,259.622516,273.655226,277.233872,278.460057,291.141585,305.373736,...,5324.617040,5968.327288,6528.972218,6792.886617,6600.056650,6036.798975,5813.802359,6170.481787,6202.162267,NaN
75%,489.351689,561.473554,634.966539,666.844461,752.171293,854.120036,882.906899,875.547972,805.809962,860.595621,...,16328.315060,18398.905381,18291.925068,19283.183735,18999.005287,16666.300061,16998.588687,16409.835459,16426.431107,NaN
max,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,4443.405272,4571.181955,4336.426587,4695.923390,5032.144743,...,150585.448911,168785.940809,157515.899069,177593.351895,189170.895671,167290.939984,169904.182096,166726.051926,114340.498742,NaN

## Getting the min value of the last 4 years for the current year

In [14]:
# fill the NaN values
#df_GDP = df_GDP.fillna(method='backfill', inplace = True, axis=1)

df_GDP = df_GDP.T
df_GDP.head()

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Country Code,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,ASM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
Indicator Name,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$)
Indicator Code,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD
1960,NaN,59.7732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,452.078,NaN,NaN,NaN,443.01,232.189,278.814
1961,NaN,59.8609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,464.739,NaN,NaN,NaN,454.962,220.042,280.829

In [15]:
df_GDP = df_GDP.drop(['Indicator Name', 'Indicator Code', '2019', '2018'])

In [16]:
df_GDP = df_GDP.fillna(method='backfill', axis = 0)
df_GDP = df_GDP.fillna(method='ffill', axis = 0)

In [17]:
df_GDP = df_GDP.T

In [18]:
df_GDP.head(5)

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,ABW,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,...,27084.7,24630.5,23512.6,24986,24713.7,25025.1,25533.6,25796.4,25239.6,25630.3
1,AFG,59.7732,59.8609,58.458,78.7064,82.0952,101.108,137.594,160.899,129.108,...,364.66,438.076,543.303,591.162,641.872,637.165,613.856,578.466,547.228,556.302
2,AGO,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,...,4080.94,3122.78,3587.88,4615.47,5100.1,5254.88,5408.41,4166.98,3506.07,4095.81
3,ALB,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,...,4370.54,4114.13,4094.36,4437.18,4247.61,4413.08,4578.67,3952.83,4124.11,4532.89
4,AND,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,...,47785.1,43338.9,39736.4,41100.7,38392.9,40626.8,42300.3,36039.7,37224.1,39134.4

In [19]:
df_GDP.describe()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,264,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.00000,...,264.000000,264.000000,264.00000,264.000000,264.000000,264.000000,264.000000,264.000000,264.0000,264.000000
unique,264,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.00000,...,262.000000,262.000000,262.00000,262.000000,262.000000,262.000000,262.000000,263.000000,262.0000,262.000000
top,MYS,131.654994,85.945754,89.792026,98.841369,150.828798,116.426559,95.665013,166.347815,105.69472,...,959.480313,1042.013483,1257.66949,1367.338787,1782.408543,1381.881309,1885.558172,1541.835813,1511.3049,1599.336187
freq,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,...,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0000,2.000000

In [20]:
df_GDP_4years = df_GDP

In [21]:
df_GDP_4years.set_index('Country Code', inplace=True)
df_GDP_4years.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,...,27084.7,24630.5,23512.6,24986,24713.7,25025.1,25533.6,25796.4,25239.6,25630.3
AFG,59.7732,59.8609,58.458,78.7064,82.0952,101.108,137.594,160.899,129.108,129.33,...,364.66,438.076,543.303,591.162,641.872,637.165,613.856,578.466,547.228,556.302
AGO,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,...,4080.94,3122.78,3587.88,4615.47,5100.1,5254.88,5408.41,4166.98,3506.07,4095.81
ALB,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,...,4370.54,4114.13,4094.36,4437.18,4247.61,4413.08,4578.67,3952.83,4124.11,4532.89
AND,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,...,47785.1,43338.9,39736.4,41100.7,38392.9,40626.8,42300.3,36039.7,37224.1,39134.4

In [22]:
#def get_min_4years(x):
    #if(x[])
    #return x

In [23]:
i = 1960
a = {}
while i < 2019:
    a[str(i)] = [str(i-1), str(i-2), str(i-3), str(i-4)]
    i+=1

In [24]:
#df_GDP_4years[a.get('1964')].min(axis=1)
#df_GDP_4years[a[str('1964')]]

In [25]:
df_GDP_new = df_GDP_4years.head()

In [26]:
df_GDP_new

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,...,27084.7,24630.5,23512.6,24986,24713.7,25025.1,25533.6,25796.4,25239.6,25630.3
AFG,59.7732,59.8609,58.458,78.7064,82.0952,101.108,137.594,160.899,129.108,129.33,...,364.66,438.076,543.303,591.162,641.872,637.165,613.856,578.466,547.228,556.302
AGO,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,...,4080.94,3122.78,3587.88,4615.47,5100.1,5254.88,5408.41,4166.98,3506.07,4095.81
ALB,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,...,4370.54,4114.13,4094.36,4437.18,4247.61,4413.08,4578.67,3952.83,4124.11,4532.89
AND,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,...,47785.1,43338.9,39736.4,41100.7,38392.9,40626.8,42300.3,36039.7,37224.1,39134.4

In [27]:
#df_GDP_new[df_GDP_new.index == 'ABW']

In [36]:
abw = df_GDP_new[a.get(str(1964))].min(axis=1)[df_GDP_new.index == 'ABW']
print(abw)
abw+20

Country Code
ABW    6472.502029
dtype: float64

Country Code
ABW    6492.502029
dtype: float64

In [29]:
for i, country in df_GDP_new.iterrows(): 
    #print(i, year) 
    #print() 
    year = 2017
    #print("------------- ", i, "---------------")
    while(year > 1963):
        #print("-----------------")
        #print(country[str(year)], " = ", df_GDP_new[a.get(str(year))].min(axis=1)[df_GDP_new.index == str(i)])
        country[str(year)] = df_GDP_new[a.get(str(year))].min(axis=1)[df_GDP_new.index == str(i)]
        #print("-----------------")
        year -= 1

#idx = 2017
#for index, row in df_GDP_new.iterrows():
    #print("--------- new row---------")    
    #print("index: ", idx, "\n", df_GDP_new[a.get(str(idx))].min(axis=1))
    #idx += -1
    #print(df_GDP_new[a.get(str(idx))].min(axis=1))
            #df_GDP_new.index(row.index()) = row
            #row[str(idx)] = df_GDP_new[a.get(str(idx))].min(axis=1)

In [30]:
df_GDP_new

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,6472.5,6472.5,6472.5,6472.5,Country Code ABW 6472.502029 dtype: float64,Country Code ABW 6472.502029 dtype: float64,Country Code ABW 6472.502029 dtype: float64,Country Code ABW 6472.502029 dtype: float64,Country Code ABW 6472.502029 dtype: float64,Country Code ABW 6472.502029 dtype: float64,...,Country Code ABW 22569.974985 dtype: float64,Country Code ABW 23300.039558 dtype: float64,Country Code ABW 24045.272483 dtype: float64,Country Code ABW 23512.602596 dtype: float64,Country Code ABW 23512.602596 dtype: float64,Country Code ABW 23512.602596 dtype: float64,Country Code ABW 23512.602596 dtype: float64,Country Code ABW 24713.698045 dtype: float64,Country Code ABW 24713.698045 dtype: float64,Country Code ABW 25025.099563 dtype: float64
AFG,59.7732,59.8609,58.458,78.7064,Country Code AFG 58.458015 dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,...,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64,Country Code AFG NaN dtype: float64
AGO,710.982,710.982,710.982,710.982,Country Code AGO 710.981648 dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,...,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64,Country Code AGO NaN dtype: float64
ALB,639.485,639.485,639.485,639.485,Country Code ALB 639.484736 dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,...,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64,Country Code ALB NaN dtype: float64
AND,3238.56,3238.56,3238.56,3238.56,Country Code AND 3238.55685 dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,...,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64,Country Code AND NaN dtype: float64

In [31]:
print(df_GDP_4years.iloc[249])

1960    3007.12
1961    3066.56
1962    3243.84
1963    3374.52
1964    3573.94
1965    3827.53
1966    4146.32
1967    4336.43
1968    4695.92
1969    5032.14
1970     5234.3
1971    5609.38
1972    6094.02
1973    6726.36
1974    7225.69
1975    7801.46
1976    8592.25
1977    9452.58
1978    10564.9
1979    11674.2
1980    12574.8
1981    13976.1
1982    14433.8
1983    15543.9
1984    17121.2
1985    18236.8
1986    19071.2
1987    20038.9
1988      21417
1989    22857.2
1990    23888.6
1991    24342.3
1992      25419
1993    26387.3
1994    27694.9
1995    28690.9
1996    29967.7
1997    31459.1
1998    32853.7
1999    34513.6
2000    36334.9
2001    37133.2
2002    38023.2
2003    39496.5
2004    41712.8
2005    44114.7
2006    46298.7
2007      47976
2008    48382.6
2009      47100
2010    48466.8
2011    49883.1
2012    51603.5
2013    53106.9
2014      55033
2015    56803.5
2016    57904.2
2017    59927.9
Name: USA, dtype: object

In [32]:
df_at = df_athletes
n = df_GDP_4years[df_GDP_4years['Country Code'] == 'ALB']['1960']
n

KeyError: 'Country Code'

In [ ]:
gdp = []

In [ ]:
#df_GDP_4years['Country Code']
i = 0
for index, row in df_at.iterrows():
    i+= 1
    #gdp.append(df_GDP_4years[df_GDP_4years['Country Code'] == row['NOC']][row['Year']])

In [ ]:
i

In [ ]:
ex = df_at.head(20)
ex

In [ ]:
i = 0
ex2 = []
for index, e in ex.iterrows():
    # get country
    country = df_GDP_4years[df_GDP_4years['Country Code'] == e['NOC']]
    year = str(e['Year'])
    
    print("--------------------\n", year, "\n", country[year])

In [ ]:
i = 0
ex2 = []
for index, e in ex.iterrows():
    # get country
    country_idx = df_GDP_4years[df_GDP_4years['Country Code'] == e['NOC']].index
    # get GDP of year 
    #print(str(e['Year']))
    #gdp = df_GDP_4years.iloc[country_idx][str(e['Year'])]
    print("\n--------\n gdp:\n", gdp, "\n-------------")
    #gdp = 
    #print(e['NOC'])
    #print(e['Year'])
    #print(e['Year'])
    #year = e['Year']
    #print(df_GDP_4years.loc[1])
    #df_GDP_4years[str(e['Year'])]
    #print(df_GDP_4years[e['Year']])
    #ex2.append(df_GDP_4years[df_GDP_4years['Country Code'] == e['NOC']]['2018'])

In [ ]:
df = pd.DataFrame(ex2) 
df

In [ ]:
#df_at['GDP'] = df_GDP_4years.loc[df_GDP_4years['Country Code'] == df_at['NOC']]['1960']