# Final project

Introduction to Data Science – Fall 2019
Industrial & Management Engineering
Hankuk University of Foreign Studies
Global Campus, Yongin
Instructor: Bernardo N. Yahya
Olympic Team

## Before starting...

In [1]:
# package import
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
# load datasets
df_athletes = pd.read_csv('data/athletes.csv')
df_athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
df_athletes = df_athletes.drop( columns="Name")
df_athletes = df_athletes.drop( columns="Games")
df_athletes = df_athletes.drop( columns="Team")
df_athletes.head()

,ID,Sex,Age,Height,Weight,NOC,Year,Season,City,Sport,Event,Medal
0,1,M,24.0,180.0,80.0,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,M,23.0,170.0,60.0,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,M,24.0,NaN,NaN,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,M,34.0,NaN,NaN,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,F,21.0,185.0,82.0,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
#df_summer = df_athletes[df_athletes['Season']=='Summer']
#df_summer.head()

In [5]:
#df_winter = df_athletes[df_athletes['Season']=='Winter']
#df_winter.head()

In [6]:
df_countries = pd.read_csv('data/countries.csv')
df_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [7]:
df_GDP = pd.read_csv('data/GDP.csv')
df_GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139,520.896603,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198,5253.630064,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371,42029.762737,NaN

In [8]:
df_GDP=df_GDP.drop( columns="Country Name")

In [9]:
df_GDP.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492,NaN,NaN
1,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139,520.896603,NaN
2,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736,NaN
3,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198,5253.630064,NaN
4,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371,42029.762737,NaN

In [10]:
df_GDP.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,133.000000,134.000000,136.000000,136.000000,136.000000,146.000000,147.000000,150.000000,154.000000,154.000000,...,251.000000,252.000000,251.000000,252.000000,251.000000,250.000000,250.000000,246.000000,231.000000,0.0
mean,477.090548,510.997180,537.759283,570.571590,620.118759,687.168945,730.812250,747.106490,766.201365,828.090061,...,14423.626372,15903.921344,15822.664863,16354.589444,16356.195139,14707.131596,14747.116816,14515.124497,14148.865580,NaN
std,597.614845,642.387548,674.781661,714.643153,782.415979,874.030595,940.758849,971.350324,1002.331545,1076.088550,...,21710.830053,23961.297976,23150.370578,24726.589825,25092.278876,22369.580670,22472.843662,20608.291936,19413.684253,NaN
min,40.537115,40.689390,34.790581,40.752237,41.083814,45.989354,37.488783,46.642770,48.784045,51.794609,...,234.235647,249.577979,252.358980,256.976003,248.844951,293.465423,282.149682,293.009062,275.429603,NaN
25%,107.949993,109.211954,114.955692,123.204376,124.980086,141.029619,145.767969,157.983788,159.262062,161.937705,...,1575.699381,1738.219933,1873.610010,1957.578334,2035.213733,2009.418262,2050.138368,2006.922358,2021.886228,NaN
50%,231.025649,217.409205,232.156045,252.392332,259.622516,273.655226,277.233872,278.460057,291.141585,305.373736,...,5324.617040,5968.327288,6528.972218,6792.886617,6600.056650,6036.798975,5813.802359,6170.481787,6202.162267,NaN
75%,489.351689,561.473554,634.966539,666.844461,752.171293,854.120036,882.906899,875.547972,805.809962,860.595621,...,16328.315060,18398.905381,18291.925068,19283.183735,18999.005287,16666.300061,16998.588687,16409.835459,16426.431107,NaN
max,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,4443.405272,4571.181955,4336.426587,4695.923390,5032.144743,...,150585.448911,168785.940809,157515.899069,177593.351895,189170.895671,167290.939984,169904.182096,166726.051926,114340.498742,NaN

## Getting the min value of the last 4 years for the current year

In [11]:
# fill the NaN values
df_GDP = df_GDP.fillna(method='backfill')

In [12]:
# drop 2019 (it doesn't have anything)

In [13]:
df_GDP = df_GDP.drop( columns="2019")
df_GDP.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,24630.453714,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492,520.896603
1,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,438.076034,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139,520.896603
2,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,1173.238213,1279.113432,1272.802978,...,3122.780766,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736
3,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,1173.238213,1279.113432,1272.802978,...,4114.134899,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198,5253.630064
4,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,1173.238213,1279.113432,1272.802978,...,43338.866758,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371,42029.762737

In [14]:
df_GDP.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,...,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000
mean,518.060288,544.969429,546.685151,571.739512,629.493468,712.644605,758.885125,789.555178,795.939596,867.476212,...,14128.028651,14829.180316,16273.347755,16211.601346,16772.091910,16733.233573,15151.108235,15195.120604,14781.911175,14119.463324
std,609.923942,646.116864,660.425748,697.654778,769.775703,856.764844,924.216354,969.949770,1004.966662,1098.562108,...,21058.604152,21686.970052,23994.728948,23191.267433,24722.417491,25046.232822,22311.576358,22386.607848,20622.532685,19299.493038
min,40.537115,40.689390,34.790581,40.752237,41.083814,45.989354,37.488783,46.642770,48.784045,51.794609,...,212.136880,234.235647,249.577979,252.358980,256.976003,248.844951,293.465423,282.149682,293.009062,275.429603
25%,108.902853,123.033969,114.955692,118.591943,123.631888,144.484655,152.107820,159.505991,163.406324,163.986950,...,1357.618445,1576.176004,1738.475720,1900.932904,1973.621631,2104.159362,2076.288967,2093.999128,2019.564691,2028.718160
50%,249.441676,257.745548,246.091520,266.455397,270.838026,276.220838,291.882914,308.252850,301.301042,313.858958,...,5187.346105,5735.422857,6380.711738,6755.606486,7059.590832,6751.804122,6330.133709,6131.491894,6170.481787,5950.768623
75%,533.686381,597.287321,638.945209,705.682042,785.891452,955.595091,1035.781078,1062.543552,940.834781,967.613955,...,16706.895531,19267.202169,21075.947542,20579.901318,20578.676978,20189.039585,18297.862115,18820.655262,17905.309566,16848.872049
max,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,4443.405272,4571.181955,4336.426587,4695.923390,5032.144743,...,154762.199427,150585.448911,168785.940809,157515.899069,177593.351895,189170.895671,167290.939984,169904.182096,166726.051926,114340.498742

In [15]:
#column_titles = []
#idx = 1960

In [16]:
#while idx < 2019:
    #column_titles.append(idx)
    #idx+= 1

In [17]:
df_GDP_4years = df_GDP

In [18]:
df_GDP_4years.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,24630.453714,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492,520.896603
1,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,438.076034,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139,520.896603
2,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,1173.238213,1279.113432,1272.802978,...,3122.780766,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736
3,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,1173.238213,1279.113432,1272.802978,...,4114.134899,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198,5253.630064
4,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,1173.238213,1279.113432,1272.802978,...,43338.866758,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371,42029.762737

In [27]:
#def get_min_4years(x):
    #if(x[])
    #return x

In [66]:
i = 1960
a = {}
while i < 2019:
    a[str(i)] = [str(i-1), str(i-2), str(i-3), str(i-4)]
    i+=1

In [ ]:
#df_GDP_4years[['1963', '1962', '1961', '1960']].min(axis=1)

In [87]:
#df_GDP_4years[a.get('1964')].min(axis=1)
#df_GDP_4years[a[str('1964')]]

In [88]:
i = 1964
while i < 2019:
    df_GDP_4years[str(i)] = df_GDP_4years[a.get(str(i))].min(axis=1)
    i+=1

In [89]:
df_GDP_4years.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,58.458015,58.458015,58.458015,...,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015
1,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,58.458015,58.458015,58.458015,...,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015,58.458015
2,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,850.304737,850.304737,850.304737,...,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737
3,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,850.304737,850.304737,850.304737,...,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737
4,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,1807.785710,1874.838940,1155.890170,850.304737,850.304737,850.304737,850.304737,...,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737,850.304737