# Final project

Introduction to Data Science – Fall 2019
Industrial & Management Engineering
Hankuk University of Foreign Studies
Global Campus, Yongin
Instructor: Bernardo N. Yahya
Olympic Team

## Import tools

In [1]:
# package import
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

## Load datasets

In [2]:
df_athletes = pd.read_csv('data/athletes.csv')
df_athletes.head()
# this is different in our datasets so we change it for future use
df_athletes.loc[df_athletes.NOC == 'NED', 'NOC'] = 'NER'

In [3]:
df_countries = pd.read_csv('data/countries.csv')
clust_countries=df_countries
df_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [4]:
df_GDP = pd.read_csv('data/GDP.csv')
ayx8=df_GDP
df_GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139,520.896603,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198,5253.630064,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371,42029.762737,NaN

## Manage NaN values and adapt it for analysis

#### Athletes dataset

In [5]:
df_athletes = df_athletes.drop(columns=["Name","ID","Games","Event"])
df_athletes.drop( df_athletes[ df_athletes['Year'] < 1960].index , inplace=True) # the data we are droping because of the countries dataset

In [6]:
clust_a=df_athletes
df_athletes["Medal"]=df_athletes.Medal.map({"Gold":3, "Silver":2,"Bronze":1})
df_athletes=df_athletes.fillna(0)
df_athletes.head()

,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Medal
0,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,0.0
1,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,0.0
4,F,21.0,185.0,82.0,Netherlands,NER,1988,Winter,Calgary,Speed Skating,0.0
5,F,21.0,185.0,82.0,Netherlands,NER,1988,Winter,Calgary,Speed Skating,0.0
6,F,25.0,185.0,82.0,Netherlands,NER,1992,Winter,Albertville,Speed Skating,0.0

##### 0 = No medals won
##### 1 = Bronze medal won
##### 2 = Silver medal won
##### 3 = Golden medal won

In [7]:
df_athletes=df_athletes.sort_values(by='Team') # Put it in alphabetical order to see clearer
df_athletes.head()

,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Medal
193165,M,52.0,180.0,84.0,Acipactli,MEX,1964,Summer,Tokyo,Sailing,0.0
73071,M,46.0,173.0,73.0,Acipactli,MEX,1964,Summer,Tokyo,Sailing,0.0
51134,M,44.0,171.0,69.0,Acipactli,MEX,1964,Summer,Tokyo,Sailing,0.0
12535,M,28.0,186.0,68.0,Afghanistan,AFG,2012,Summer,London,Taekwondo,0.0
264047,F,22.0,180.0,56.0,Afghanistan,AFG,2008,Summer,Beijing,Athletics,0.0

In [8]:
#Check for NaN values
df_athletes.isna().sum()

Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Year      0
Season    0
City      0
Sport     0
Medal     0
dtype: int64

There are no longer NaN values, we can continue

In [9]:
#df_summer = df_athletes[df_athletes['Season']=='Summer']
#df_summer.head()

In [10]:
#df_winter = df_athletes[df_athletes['Season']=='Winter']
#df_winter.head()

#### Countries dataset

In [11]:
display(df_countries.isna().sum(),df_countries.count())

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

Country                               227
Region                                227
Population                            227
Area (sq. mi.)                        227
Pop. Density (per sq. mi.)            227
Coastline (coast/area ratio)          227
Net migration                         224
Infant mortality (per 1000 births)    224
GDP ($ per capita)                    226
Literacy (%)                          209
Phones (per 1000)                     223
Arable (%)                            225
Crops (%)                             225
Other (%)                             225
Climate                               205
Birthrate                             224
Deathrate                             223
Agriculture                           212
Industry                              211
Service                               212
dtype: int64

##### 22<<<227 so we might just drop those Na values

In [12]:
df_countries=df_countries.dropna()

In [13]:
df_countries.isna().sum().sum()
clust=df_countries

No Na values in the dataset. We can continue

#### GDP dataset

In [14]:
#GDP per capita in US $ during the years

In [15]:
df_GDP=df_GDP.drop(columns=["Country Name","Indicator Name","Indicator Code","2018","2019"]) # the last games were in 2016 so we don't need it

In [16]:
df_GDP.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27084.703690,24630.453714,23512.602596,24985.993281,24713.698045,25025.099563,25533.569780,25796.380251,25239.600411,25630.266492
1,AFG,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,160.898589,129.108323,...,364.660465,438.076034,543.303042,591.162346,641.872034,637.165044,613.856333,578.466353,547.228110,556.302139
2,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4080.941410,3122.780766,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942
3,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539925,4114.134899,4094.358816,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4124.108543,4532.889198
4,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47785.089273,43338.866758,39736.354063,41100.729938,38392.943901,40626.751632,42300.334128,36039.653496,37224.108916,39134.393371

In [17]:
df_GDP.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,133.000000,134.000000,136.000000,136.000000,136.000000,146.000000,147.000000,150.000000,154.000000,154.000000,...,251.000000,251.000000,251.000000,252.000000,251.000000,252.000000,251.000000,250.000000,250.000000,246.000000
mean,477.090548,510.997180,537.759283,570.571590,620.118759,687.168945,730.812250,747.106490,766.201365,828.090061,...,15391.724830,13707.443017,14423.626372,15903.921344,15822.664863,16354.589444,16356.195139,14707.131596,14747.116816,14515.124497
std,597.614845,642.387548,674.781661,714.643153,782.415979,874.030595,940.758849,971.350324,1002.331545,1076.088550,...,24146.891838,21083.697615,21710.830053,23961.297976,23150.370578,24726.589825,25092.278876,22369.580670,22472.843662,20608.291936
min,40.537115,40.689390,34.790581,40.752237,41.083814,45.989354,37.488783,46.642770,48.784045,51.794609,...,198.352901,212.136880,234.235647,249.577979,252.358980,256.976003,248.844951,293.465423,282.149682,293.009062
25%,107.949993,109.211954,114.955692,123.204376,124.980086,141.029619,145.767969,157.983788,159.262062,161.937705,...,1470.043561,1357.187492,1575.699381,1738.219933,1873.610010,1957.578334,2035.213733,2009.418262,2050.138368,2006.922358
50%,231.025649,217.409205,232.156045,252.392332,259.622516,273.655226,277.233872,278.460057,291.141585,305.373736,...,5090.932345,4714.702495,5324.617040,5968.327288,6528.972218,6792.886617,6600.056650,6036.798975,5813.802359,6170.481787
75%,489.351689,561.473554,634.966539,666.844461,752.171293,854.120036,882.906899,875.547972,805.809962,860.595621,...,18372.453584,15860.284016,16328.315060,18398.905381,18291.925068,19283.183735,18999.005287,16666.300061,16998.588687,16409.835459
max,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,4443.405272,4571.181955,4336.426587,4695.923390,5032.144743,...,185721.794154,154762.199427,150585.448911,168785.940809,157515.899069,177593.351895,189170.895671,167290.939984,169904.182096,166726.051926

In [18]:
# we delete the countries that didn't have any data
df_GDP = df_GDP.drop(df_GDP[df_GDP['Country Code'] == 'VGB'].index)
df_GDP = df_GDP.drop(df_GDP[df_GDP['Country Code'] == 'GIB'].index)
df_GDP = df_GDP.drop(df_GDP[df_GDP['Country Code'] == 'INX'].index)
df_GDP = df_GDP.drop(df_GDP[df_GDP['Country Code'] == 'MAF'].index)
df_GDP = df_GDP.drop(df_GDP[df_GDP['Country Code'] == 'PRK'].index)
df_GDP = df_GDP.drop(df_GDP[df_GDP['Country Code'] == 'SXM'].index)

In [19]:
# Getting the min value of the last 4 years for the current year to fill the NaN values

#df_GDP = df_GDP.fillna(method='backfill', inplace = True, axis=1)
df_GDP = df_GDP.T
df_GDP.head()

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Country Code,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,ASM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
1960,NaN,59.7732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,452.078,NaN,NaN,NaN,443.01,232.189,278.814
1961,NaN,59.8609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,464.739,NaN,NaN,NaN,454.962,220.042,280.829
1962,NaN,58.458,NaN,NaN,NaN,NaN,NaN,1155.89,NaN,NaN,...,NaN,NaN,NaN,490.507,NaN,NaN,NaN,473.012,212.578,276.689
1963,NaN,78.7064,NaN,NaN,NaN,NaN,NaN,850.305,NaN,NaN,...,NaN,NaN,NaN,517.419,NaN,NaN,NaN,511.497,213.896,277.48

In [20]:
df_GDP = df_GDP.fillna(method='backfill', axis = 0)
df_GDP = df_GDP.fillna(method='ffill', axis = 0)

In [21]:
df_GDP = df_GDP.T

In [22]:
df_GDP.head(5)

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,ABW,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,...,27084.7,24630.5,23512.6,24986,24713.7,25025.1,25533.6,25796.4,25239.6,25630.3
1,AFG,59.7732,59.8609,58.458,78.7064,82.0952,101.108,137.594,160.899,129.108,...,364.66,438.076,543.303,591.162,641.872,637.165,613.856,578.466,547.228,556.302
2,AGO,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,...,4080.94,3122.78,3587.88,4615.47,5100.1,5254.88,5408.41,4166.98,3506.07,4095.81
3,ALB,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,...,4370.54,4114.13,4094.36,4437.18,4247.61,4413.08,4578.67,3952.83,4124.11,4532.89
4,AND,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,...,47785.1,43338.9,39736.4,41100.7,38392.9,40626.8,42300.3,36039.7,37224.1,39134.4

In [23]:
df_GDP.describe()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,258,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,...,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000,258.000000
unique,258,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,...,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,257.000000,256.000000,256.000000
top,ASM,131.654994,85.945754,89.792026,98.841369,110.766826,163.896432,95.665013,102.982336,173.469143,...,959.480313,1357.618445,1576.176004,1367.338787,1364.441602,1844.577249,1885.558172,1541.835813,1648.678479,1599.336187
freq,1,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [24]:
df_GDP_4years = df_GDP

In [25]:
df_GDP_4years.set_index('Country Code', inplace=True)
df_GDP_4years.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,...,27084.7,24630.5,23512.6,24986,24713.7,25025.1,25533.6,25796.4,25239.6,25630.3
AFG,59.7732,59.8609,58.458,78.7064,82.0952,101.108,137.594,160.899,129.108,129.33,...,364.66,438.076,543.303,591.162,641.872,637.165,613.856,578.466,547.228,556.302
AGO,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,...,4080.94,3122.78,3587.88,4615.47,5100.1,5254.88,5408.41,4166.98,3506.07,4095.81
ALB,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,...,4370.54,4114.13,4094.36,4437.18,4247.61,4413.08,4578.67,3952.83,4124.11,4532.89
AND,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,...,47785.1,43338.9,39736.4,41100.7,38392.9,40626.8,42300.3,36039.7,37224.1,39134.4

In [26]:
i = 1960
a = {}
while i < 2019:
    a[str(i)] = [str(i-1), str(i-2), str(i-3), str(i-4)]
    i+=1

In [27]:
df_GDP_new = df_GDP_4years

In [28]:
df_GDP_new

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,...,27084.7,24630.5,23512.6,24986,24713.7,25025.1,25533.6,25796.4,25239.6,25630.3
AFG,59.7732,59.8609,58.458,78.7064,82.0952,101.108,137.594,160.899,129.108,129.33,...,364.66,438.076,543.303,591.162,641.872,637.165,613.856,578.466,547.228,556.302
AGO,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,...,4080.94,3122.78,3587.88,4615.47,5100.1,5254.88,5408.41,4166.98,3506.07,4095.81
ALB,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,...,4370.54,4114.13,4094.36,4437.18,4247.61,4413.08,4578.67,3952.83,4124.11,4532.89
AND,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,...,47785.1,43338.9,39736.4,41100.7,38392.9,40626.8,42300.3,36039.7,37224.1,39134.4
ARB,224.086,224.086,224.086,224.086,224.086,224.086,224.086,224.086,224.086,239.304,...,6143.17,5182.36,5945.68,6889.09,7503.17,7551.28,7497.56,6459.11,6202.89,6285.22
ARE,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,...,44498.9,32024.2,33893.3,39194.7,40976.5,42412.6,43751.8,38663.4,38141.8,40325.4
ARG,1155.89,1155.89,1155.89,850.305,1173.24,1279.11,1272.8,1062.54,1141.08,1329.06,...,9020.87,8225.14,10386,12848.9,13082.7,13080.3,12334.8,13789.1,12790.2,14591.9
ARM,637.855,637.855,637.855,637.855,637.855,637.855,637.855,637.855,637.855,637.855,...,4010.86,2994.34,3218.37,3525.8,3681.86,3838.19,3986.23,3607.3,3591.83,3914.5
ASM,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,...,9792.67,11961.3,10271.2,10294.3,11568.8,11505.4,11525.2,11843.3,11714.9,11398.8
ATG,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,...,16024.3,14113.1,13092.1,12795.6,13399.2,13035.1,13780.8,14526.6,15494.3,15824.7
AUS,1807.79,1874.84,1851.84,1964.15,2128.07,2277.66,2340.44,2576.28,2720.08,2986.95,...,49601.7,42772.4,52022.1,62517.8,68012.1,68150.1,62510.8,56748.4,50020,54093.6
AUT,935.46,1031.82,1087.83,1167,1269.41,1374.53,1486.97,1569.67,1677.67,1825.39,...,51708.8,47963.2,46858,51375,48567.7,50716.7,51717.5,44176.7,45103.3,47380.8
AZE,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,...,5574.6,4950.29,5842.81,7189.69,7496.29,7875.76,7891.31,5500.32,3880.74,4147.09
BDI,70.0517,71.1672,73.4353,78.5143,86.1616,51.3819,52.1827,54.8064,54.9008,55.715,...,198.353,212.137,234.236,249.578,252.359,256.976,274.858,305.55,282.15,293.009
BEL,1273.69,1350.2,1438.52,1535.02,1701.85,1835.59,1957.63,2086.64,2222.36,2458.08,...,48424.6,44880.6,44380.2,47743.8,44826.4,46680.4,47355.3,40441.1,41449.1,43507.2
BEN,93.0225,95.5722,94.4645,99.8591,104.34,110.133,112.941,111.952,116.895,116.025,...,820.151,793.452,757.696,825.94,837.943,915.316,943.675,783.963,788.549,827.43
BFA,68.4247,71.5582,76.5206,78.3721,80.4728,81.7251,82.5456,84.3632,84.733,86.5202,...,569.761,552.746,575.446,666.84,673.822,699.779,703.82,575.314,583.833,642.04
BGD,89.0352,97.5953,100.122,101.901,100.221,106.647,112.665,122.871,122.848,135.147,...,634.987,702.264,781.154,861.758,883.105,981.84,1118.85,1248.45,1401.62,1563.99
BGR,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,...,7261.75,6969.56,6843.27,7813.81,7378.02,7646.84,7864.76,6993.78,7469.46,8228.01
BHR,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,...,23066.5,19355.9,20722.1,22514.2,23654.4,24744.4,24989.4,22688.9,22619.1,23715.5
BHS,1550.24,1651.29,1752.85,1867.03,1994.38,2144.75,2322.69,2556.65,2804.33,3215.1,...,30627.2,28552.2,28443.4,28006.4,29485.6,28944.8,29563.7,31512.9,31325.3,31857.9
BIH,319.013,319.013,319.013,319.013,319.013,319.013,319.013,319.013,319.013,319.013,...,5090.93,4714.7,4635.52,5092.55,4778.64,5131.39,5329.64,4727.28,4994.68,5394.59
BLR,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,...,6377.37,5351.36,6181.4,6519.23,6940.16,7978.87,8318.51,5949.11,5022.63,5761.75
BLZ,304.917,316.404,327.127,336.941,351.161,377.594,406.098,420.432,386.953,396.654,...,4460.63,4243.43,4331.43,4501.6,4626.71,4652.51,4790.94,4883.18,4904.03,4956.81
BMU,1902.4,1961.54,2020.39,2020.27,2199.73,2282.22,2630.85,2982.75,2830.19,3053.7,...,93605.7,88463.3,88207.3,85973.2,85458.5,85748.1,85748.1,85748.1,85748.1,85748.1
BOL,102.238,109.061,116.925,123.429,136.312,149.64,162.326,179.583,199.63,211.797,...,1715.21,1754.21,1955.46,2346.34,2609.88,2908.2,3081.88,3035.97,3076.66,3351.12
BRA,210.11,205.041,260.426,292.252,261.667,261.354,315.797,347.493,374.787,403.884,...,8831.02,8597.92,11286.2,13245.6,12370,12300.3,12112.6,8814,8712.89,9880.95
BRB,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,...,17081.9,15937,16056,16470.4,16412.9,16224.3,16179.6,16066.5,15847.1,16327.6
BRN,1113.83,1113.83,1113.83,1113.83,1113.83,1113.83,1237.56,1236.4,1364.05,1304.3,...,37934.4,27955.7,35269.6,47055.8,47741.9,44740.1,41726.8,31164.6,27157.3,28572.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TKM,684.22,684.22,684.22,684.22,684.22,684.22,684.22,684.22,684.22,684.22,...,3904.46,4036.46,4439.2,5649.95,6675.19,7304.29,7962.24,6432.68,6389.55,6587.09
TLA,365.543,375.933,418.565,409.871,444.579,460.689,491.937,490.555,514.233,561.081,...,7848.97,7265.39,8974.01,10119.5,10102.3,10237.8,10322.9,8716.41,8404.75,9253.67
TLS,497.131,497.131,497.131,497.131,497.131,497.131,497.131,497.131,497.131,497.131,...,4160.73,2978.44,3656.95,5095.49,5879.7,4888.32,3441.65,2585.15,2053.27,2000.6
TMN,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,...,3870.01,3678.18,4178.69,4652.16,5036.03,4641.5,4485.98,3972.18,3934.62,3823.83
TON,368.065,368.065,368.065,368.065,368.065,368.065,368.065,368.065,368.065,368.065,...,3380.61,3062.53,3553.22,4084.62,4597.74,4428.57,4393.94,4320.64,3966.16,4217.48
TSA,82.2803,85.9458,89.792,98.8414,110.767,116.427,95.665,102.982,105.695,113.448,...,959.48,1042.01,1257.67,1367.34,1364.44,1381.88,1494.46,1541.84,1648.68,1867.27
TSS,131.655,133.716,141.506,158.311,150.829,163.896,172.554,166.348,173.469,193.606,...,1470.04,1357.62,1576.18,1738.48,1782.41,1844.58,1885.56,1669.44,1511.3,1599.34
TTO,631.702,676.398,704.219,760.401,788.703,807.874,787.339,823.555,815.324,831.425,...,21204.1,14514.1,16683.4,19034.1,19162,20026.8,20169.7,18332.5,15786.1,16076.1
TUN,217.911,217.911,217.911,217.911,217.911,217.911,224.295,229.029,250.694,260.408,...,4307.16,4128.46,4141.98,4264.67,4152.68,4222.7,4305.47,3859.81,3698.57,3494.32
TUR,509.424,283.828,309.447,350.663,369.583,386.358,444.549,481.694,526.213,571.618,...,10854.2,9038.52,10672.4,11335.5,11707.3,12519.4,12095.9,10948.7,10820.6,10499.7
TUV,990.065,990.065,990.065,990.065,990.065,990.065,990.065,990.065,990.065,990.065,...,2936.86,2599.9,3022.29,3640.86,3507.94,3454.68,3398.82,3197.8,3255.89,3572.61
TZA,221.588,221.588,221.588,221.588,221.588,221.588,221.588,221.588,221.588,221.588,...,687.39,695.217,743.404,781.437,867.868,970.417,1030.09,947.933,966.475,1004.84
UGA,62.5096,63.221,62.2263,69.1736,76.3115,110.802,112.032,113.169,117.385,128.075,...,467.901,578.423,622.499,602.685,668.832,689.155,739.374,709.021,608.706,631.523
UKR,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,...,3887.24,2543,2965.14,3569.76,3855.42,4029.72,3104.66,2124.66,2187.73,2640.68
UMC,192.857,175.187,180.911,185.013,204.276,221.714,237.375,235.372,241.514,263.607,...,5514.19,5270.59,6344.15,7533.01,8009.53,8448.56,8651.29,8032.49,7921.73,8663.27
URY,489.352,601.703,656.713,584.291,741.244,701.705,664.439,580.971,574.347,717.14,...,9091.08,9451.93,11992,14236.7,15171.6,16973.7,16832,15613.8,15387.1,16437.2
USA,3007.12,3066.56,3243.84,3374.52,3573.94,3827.53,4146.32,4336.43,4695.92,5032.14,...,48382.6,47100,48466.8,49883.1,51603.5,53106.9,55033,56803.5,57904.2,59927.9
UZB,651.419,651.419,651.419,651.419,651.419,651.419,651.419,651.419,651.419,651.419,...,1082.29,1213.27,1377.08,1564.97,1740.47,1907.56,2492.34,2615.03,2567.8,1826.57
VCT,161.361,170.379,174.5,162.809,173.4,175.654,185.262,180.402,173.129,185.892,...,6415.81,6232.72,6292.79,6242.19,6390.31,6639.62,6684.8,6921.41,7041.56,7149.63
VEN,955.446,970.356,1023.36,1077.4,864.472,869.535,876.154,892.879,937.598,930.926,...,11432.7,11765.1,13825.4,10955.3,12985.5,12456.7,16054.5,16054.5,16054.5,16054.5
VIR,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,...,39207,38771.3,40043.2,39144.2,37849.7,34819.1,33573.1,34797.1,35931.5,35938
VNM,231.452,231.452,231.452,231.452,231.452,231.452,231.452,231.452,231.452,231.452,...,1149.42,1217.27,1317.89,1525.12,1735.14,1886.67,2030.26,2085.1,2192.21,2365.62
VUT,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,...,2705.6,2649.62,2966.86,3264.54,3133.09,3124.23,3088.26,2721.64,2830.97,2976.11
WLD,452.078,464.739,490.507,517.419,555.619,592.779,629.798,656.819,694.468,748.915,...,9413.6,8820.88,9538.85,10473.6,10589.2,10764.2,10928.9,10217.7,10247.9,10769.7
WSM,770.287,770.287,770.287,770.287,770.287,770.287,770.287,770.287,770.287,770.287,...,3514.8,3039.51,3458.19,3946.17,4237.01,4219.91,4188.73,4155.28,4043.69,4307.81
XKX,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,...,3254.82,3209.69,3283.51,3736.36,3600.67,3876.96,4054.72,3574.54,3697.12,3948.09
YEM,482.248,482.248,482.248,482.248,482.248,482.248,482.248,482.248,482.248,482.248,...,1229.25,1116.08,1334.78,1374.62,1446.54,1607.15,1674,1608.74,1139.87,963.495
ZAF,443.01,454.962,473.012,511.497,548.996,584.704,621.221,675.135,711.226,780.626,...,5760.79,5862.82,7328.59,8007.38,7501.41,6829.02,6428.29,5730.93,5272.63,6127.46
ZMB,232.189,220.042,212.578,213.896,242.384,303.282,343.373,360.202,409.775,485.873,...,1394,1159.91,1489.46,1672.95,1763.09,1878.9,1763.06,1332.19,1280.58,1534.87
ZWE,278.814,280.829,276.689,277.48,281.558,293.309,277.234,292.27,299.399,341.985,...,356.693,771.599,948.332,1093.65,1304.97,1430,1434.9,1445.07,1464.58,1602.4

In [29]:
for i, country in df_GDP_new.iterrows(): 
    year = 2017
    while(year > 1963):
        country[str(year)] = float(df_GDP_new[a.get(str(year))].min(axis=1)[df_GDP_new.index == str(i)])
        year -= 1

In [30]:
df_GDP_new

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,6472.5,...,22570,23300,24045.3,23512.6,23512.6,23512.6,23512.6,24713.7,24713.7,25025.1
AFG,59.7732,59.8609,58.458,78.7064,58.458,58.458,58.458,78.7064,82.0952,101.108,...,211.382,242.031,263.734,359.693,364.66,438.076,543.303,591.162,578.466,547.228
AGO,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,710.982,...,1255.56,1902.42,2599.57,3122,3122.78,3122.78,3587.88,4615.47,4166.98,3506.07
ALB,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,639.485,...,2373.58,2673.79,2972.74,3595.04,4094.36,4094.36,4094.36,4247.61,3952.83,3952.83
AND,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,3238.56,...,38503.5,41282,43338.9,39736.4,39736.4,38392.9,38392.9,38392.9,36039.7,36039.7
ARB,224.086,224.086,224.086,224.086,224.086,224.086,224.086,224.086,224.086,224.086,...,3132.33,3762.77,4356.15,4959.92,5182.36,5182.36,5945.68,6889.09,6459.11,6202.89
ARE,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,26847.8,...,36333.2,39365.3,32024.2,32024.2,32024.2,32024.2,33893.3,39194.7,38663.4,38141.8
ARG,1155.89,1155.89,1155.89,850.305,850.305,850.305,850.305,850.305,1062.54,1062.54,...,4277.72,5109.85,5919.01,7245.45,8225.14,8225.14,10386,12334.8,12334.8,12334.8
ARM,637.855,637.855,637.855,637.855,637.855,637.855,637.855,637.855,637.855,637.855,...,1191.92,1643.75,2158.14,2994.34,2994.34,2994.34,3218.37,3525.8,3607.3,3591.83
ASM,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,8700.07,...,8391.56,8391.56,8391.56,8909.45,9792.67,10271.2,10271.2,10294.3,11505.4,11505.4
ATG,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,1246.75,...,11446.6,12547.6,13989.7,13092.1,12795.6,12795.6,12795.6,12795.6,13035.1,13035.1
AUS,1807.79,1874.84,1851.84,1964.15,1807.79,1851.84,1851.84,1964.15,2128.07,2277.66,...,30430.7,33999.2,36044.9,40960.1,42772.4,42772.4,52022.1,62510.8,56748.4,50020
AUT,935.46,1031.82,1087.83,1167,935.46,1031.82,1087.83,1167,1269.41,1374.53,...,36821.5,38403.1,40635.3,46855.8,46858,46858,46858,48567.7,44176.7,44176.7
AZE,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,1237.32,...,1045.01,1578.4,2473.08,3851.44,4950.29,4950.29,5842.81,7189.69,5500.32,3880.74
BDI,70.0517,71.1672,73.4353,78.5143,70.0517,71.1672,51.3819,51.3819,51.3819,51.3819,...,128.337,151.681,167.376,172.496,198.353,212.137,234.236,249.578,252.359,256.976
BEL,1273.69,1350.2,1438.52,1535.02,1273.69,1350.2,1438.52,1535.02,1701.85,1835.59,...,35589.7,36967.3,38852.4,44380.2,44380.2,44380.2,44380.2,44826.4,40441.1,40441.1
BEN,93.0225,95.5722,94.4645,99.8591,93.0225,94.4645,94.4645,99.8591,104.34,110.133,...,583.409,601.8,625.83,706.053,757.696,757.696,757.696,825.94,783.963,783.963
BFA,68.4247,71.5582,76.5206,78.3721,68.4247,71.5582,76.5206,78.3721,80.4728,81.7251,...,371.323,406.999,420.583,475.11,552.746,552.746,575.446,666.84,575.314,575.314
BGD,89.0352,97.5953,100.122,101.901,89.0352,97.5953,100.122,100.221,100.221,106.647,...,475.292,499.462,509.64,558.052,634.987,702.264,781.154,861.758,883.105,981.84
BGR,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,2238.8,...,3363.8,3869.53,4490.2,5885.95,6843.27,6843.27,6843.27,7378.02,6993.78,6993.78
BHR,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,8537.93,...,15846.6,17959.3,19307.9,19355.9,19355.9,19355.9,20722.1,22514.2,22688.9,22619.1
BHS,1550.24,1651.29,1752.85,1867.03,1550.24,1651.29,1752.85,1867.03,1994.38,2144.75,...,28395.9,30278.4,28552.2,28443.4,28006.4,28006.4,28006.4,28006.4,28944.8,28944.8
BIH,319.013,319.013,319.013,319.013,319.013,319.013,319.013,319.013,319.013,319.013,...,2815,2980.6,3416.51,4193.37,4635.52,4635.52,4635.52,4778.64,4727.28,4727.28
BLR,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,2124.84,...,2378.62,3125.81,3847.43,4735.66,5351.36,5351.36,6181.4,6519.23,5949.11,5022.63
BLZ,304.917,316.404,327.127,336.941,304.917,316.404,327.127,336.941,351.161,377.594,...,3825.79,3926.01,4178.93,4243.43,4243.43,4243.43,4331.43,4501.6,4626.71,4652.51
BMU,1902.4,1961.54,2020.39,2020.27,1902.4,1961.54,2020.27,2020.27,2199.73,2282.22,...,70359.3,75882,83912.7,88207.3,85973.2,85458.5,85458.5,85458.5,85458.5,85748.1
BOL,102.238,109.061,116.925,123.429,102.238,109.061,116.925,123.429,136.312,149.64,...,967.407,1034.31,1218.87,1372.63,1715.21,1754.21,1955.46,2346.34,2609.88,2908.2
BRA,210.11,205.041,260.426,292.252,205.041,205.041,260.426,261.354,261.354,261.354,...,3637.46,4790.44,5886.46,7348.03,8597.92,8597.92,11286.2,12112.6,8814,8712.89
BRB,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,1274.54,...,12766.3,14104.1,15051.7,15937,15937,15937,16056,16179.6,16066.5,15847.1
BRN,1113.83,1113.83,1113.83,1113.83,1113.83,1113.83,1113.83,1113.83,1113.83,1113.83,...,21902.1,26105.3,27955.7,27955.7,27955.7,27955.7,35269.6,41726.8,31164.6,27157.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TKM,684.22,684.22,684.22,684.22,684.22,684.22,684.22,684.22,684.22,684.22,...,1453.92,1704.42,2136.47,2600.37,3904.46,4036.46,4439.2,5649.95,6432.68,6389.55
TLA,365.543,375.933,418.565,409.871,365.543,375.933,409.871,409.871,444.579,460.689,...,4166.75,5007.86,5814.89,6801.77,7265.39,7265.39,8974.01,10102.3,8716.41,8404.75
TLS,497.131,497.131,497.131,497.131,497.131,497.131,497.131,497.131,497.131,497.131,...,1109.56,1822.57,2614.88,2779.88,2978.44,2978.44,3656.95,3441.65,2585.15,2053.27
TMN,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,1199.05,...,1987.46,2301.75,2630.4,3196.9,3678.18,3678.18,4178.69,4485.98,3972.18,3934.62
TON,368.065,368.065,368.065,368.065,368.065,368.065,368.065,368.065,368.065,368.065,...,2288.59,2598.25,2892.04,2925.91,3062.53,3062.53,3553.22,4084.62,4320.64,3966.16
TSA,82.2803,85.9458,89.792,98.8414,82.2803,85.9458,89.792,95.665,95.665,95.665,...,607.413,684.759,774.879,959.323,959.48,1042.01,1257.67,1364.44,1364.44,1381.88
TSS,131.655,133.716,141.506,158.311,131.655,133.716,141.506,150.829,150.829,163.896,...,871.884,1007.49,1166.14,1317.57,1357.62,1357.62,1576.18,1738.48,1669.44,1511.3
TTO,631.702,676.398,704.219,760.401,631.702,676.398,704.219,760.401,787.339,787.339,...,10293.8,12327.2,14102.5,14514.1,14514.1,14514.1,16683.4,19034.1,18332.5,15786.1
TUN,217.911,217.911,217.911,217.911,217.911,217.911,217.911,217.911,217.911,217.911,...,3111.38,3193.21,3370.03,3775.75,4128.46,4128.46,4141.98,4152.68,3859.81,3698.57
TUR,509.424,283.828,309.447,350.663,283.828,283.828,309.447,350.663,369.583,386.358,...,6040.61,7384.25,8035.38,9038.52,9038.52,9038.52,10672.4,11335.5,10948.7,10820.6
TUV,990.065,990.065,990.065,990.065,990.065,990.065,990.065,990.065,990.065,990.065,...,2182.08,2183.91,2263.13,2599.9,2599.9,2599.9,3022.29,3398.82,3197.8,3197.8
TZA,221.588,221.588,221.588,221.588,221.588,221.588,221.588,221.588,221.588,221.588,...,459.259,485.497,485.497,552.84,687.39,695.217,743.404,781.437,867.868,947.933
UGA,62.5096,63.221,62.2263,69.1736,62.2263,62.2263,62.2263,69.1736,76.3115,110.802,...,296.047,325.59,347.99,416.899,467.901,578.423,602.685,602.685,668.832,608.706
UKR,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,1249.44,...,1366.02,1826.93,2300.77,2543,2543,2543,2965.14,3104.66,2124.66,2124.66
UMC,192.857,175.187,180.911,185.013,175.187,175.187,180.911,185.013,204.276,221.714,...,2607.27,3115.73,3677.36,4541.51,5270.59,5270.59,6344.15,7533.01,8009.53,7921.73
URY,489.352,601.703,656.713,584.291,489.352,584.291,584.291,584.291,580.971,574.347,...,4120.56,5226.94,5887.85,7026.51,9091.08,9451.93,11992,14236.7,15171.6,15387.1
USA,3007.12,3066.56,3243.84,3374.52,3007.12,3066.56,3243.84,3374.52,3573.94,3827.53,...,41712.8,44114.7,46298.7,47100,47100,47100,48466.8,49883.1,51603.5,53106.9
UZB,651.419,651.419,651.419,651.419,651.419,651.419,651.419,651.419,651.419,651.419,...,465.12,546.777,654.284,830.408,1082.29,1213.27,1377.08,1564.97,1740.47,1907.56
VCT,161.361,170.379,174.5,162.809,161.361,162.809,162.809,162.809,173.4,173.129,...,4810.3,5070.51,5625.35,6232.72,6232.72,6232.72,6242.19,6242.19,6390.31,6639.62
VEN,955.446,970.356,1023.36,1077.4,955.446,864.472,864.472,864.472,864.472,869.535,...,4325.7,5504.98,6833.38,8454.47,10955.3,10955.3,10955.3,10955.3,12456.7,12456.7
VIR,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,30126.3,...,35024.5,39207,38771.3,38771.3,38771.3,37849.7,34819.1,33573.1,33573.1,33573.1
VNM,231.452,231.452,231.452,231.452,231.452,231.452,231.452,231.452,231.452,231.452,...,546.91,687.48,784.372,906.284,1149.42,1217.27,1317.89,1525.12,1735.14,1886.67
VUT,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,1059.62,...,1788.09,1887.23,2049.62,2398.61,2649.62,2649.62,2966.86,3088.26,2721.64,2721.64
WLD,452.078,464.739,490.507,517.419,452.078,464.739,490.507,517.419,555.619,592.779,...,6811.14,7287.25,7801.88,8684.29,8820.88,8820.88,9538.85,10473.6,10217.7,10217.7
WSM,770.287,770.287,770.287,770.287,770.287,770.287,770.287,770.287,770.287,770.287,...,2353.55,2574.18,2811.34,3026.55,3039.51,3039.51,3458.19,3946.17,4155.28,4043.69
XKX,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,1087.76,...,2086.54,2147.46,2237.13,2685.99,3209.69,3209.69,3283.51,3600.67,3574.54,3574.54
YEM,482.248,482.248,482.248,482.248,482.248,482.248,482.248,482.248,482.248,482.248,...,709.965,832.844,921.418,1017.29,1116.08,1116.08,1334.78,1374.62,1446.54,1139.87
ZAF,443.01,454.962,473.012,511.497,443.01,454.962,473.012,511.497,548.996,584.704,...,4833.63,5383.63,5601.97,5760.79,5760.79,5862.82,6829.02,6428.29,5730.93,5272.63
ZMB,232.189,220.042,212.578,213.896,212.578,212.578,212.578,213.896,242.384,303.282,...,538.592,702.741,1047.92,1124.29,1159.91,1159.91,1489.46,1672.95,1332.19,1280.58
ZWE,278.814,280.829,276.689,277.48,276.689,276.689,276.689,277.234,277.234,277.234,...,431.787,356.693,356.693,356.693,356.693,771.599,948.332,1093.65,1304.97,1430

## Merge first two datasets

In [31]:

df_athletes = df_athletes.rename(columns={'Team': 'Country'})
df_athletes=df_athletes.set_index(df_athletes["Country"]).transpose()
df_countries=df_countries.set_index(df_countries["Country"]).transpose()
display(df_athletes.head(),df_countries.head())

Country,Acipactli,Acipactli,Acipactli,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Sex,M,M,M,M,F,M,M,M,M,M,...,M,M,M,M,M,M,F,M,M,M
Age,52,46,44,28,22,0,24,20,27,23,...,24,24,24,31,21,21,35,25,20,41
Height,180,173,171,186,180,0,186,179,168,168,...,190,190,190,186,180,180,0,180,170,175
Weight,84,73,69,68,56,0,68,75,64,64,...,82,82,82,70,60,60,0,60,75,74
Country,Acipactli,Acipactli,Acipactli,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe

Country,Afghanistan,Albania,Algeria,Anguilla,Antigua & Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
Country,Afghanistan,Albania,Algeria,Anguilla,Antigua & Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
Region,ASIA (EX. NEAR EAST),EASTERN EUROPE,NORTHERN AFRICA,LATIN AMER. & CARIB,LATIN AMER. & CARIB,LATIN AMER. & CARIB,C.W. OF IND. STATES,LATIN AMER. & CARIB,OCEANIA,WESTERN EUROPE,...,WESTERN EUROPE,NORTHERN AMERICA,LATIN AMER. & CARIB,C.W. OF IND. STATES,OCEANIA,LATIN AMER. & CARIB,ASIA (EX. NEAR EAST),NEAR EAST,SUB-SAHARAN AFRICA,SUB-SAHARAN AFRICA
Population,31056997,3581655,32930091,13477,69108,39921833,2976372,71891,20264082,8192880,...,60609153,298444215,3431932,27307134,208869,25730435,84402966,21456188,11502010,12236805
Area (sq. mi.),647500,28748,2381740,102,443,2766890,29800,193,7686850,83870,...,244820,9631420,176220,447400,12200,912050,329560,527970,752614,390580
Pop. Density (per sq. mi.),"48,0","124,6","13,8","132,1","156,0","14,4","99,9","372,5","2,6","97,7",...,"247,6","31,0","19,5","61,0","17,1","28,2","256,1","40,6","15,3","31,3"

# Clustering

### As Clustering is one type of unsupervised learning, due to We don't given any labels associated with the data, We will try to make a data analisys for compering how the industry level of each country is related to the number of won medal in Olimpyc games.

In [32]:
aux1=clust_a
clust_a.head()

,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Medal
0,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,NaN
1,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,NaN
4,F,21.0,185.0,82.0,Netherlands,NER,1988,Winter,Calgary,Speed Skating,NaN
5,F,21.0,185.0,82.0,Netherlands,NER,1988,Winter,Calgary,Speed Skating,NaN
6,F,25.0,185.0,82.0,Netherlands,NER,1992,Winter,Albertville,Speed Skating,NaN

In [33]:
aux1['Medal_Won'] = aux1.Medal.map({2:1, 3:1, 1:1, np.nan:0})

In [34]:
#aux1.head()
aux2=aux1[aux1.Year == 2016]
aux2[aux2.Medal_Won == 1].head()

,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Medal,Medal_Won
158,M,21.0,198.0,90.0,Italy,ITA,2016,Summer,Rio de Janeiro,Rowing,1.0,1
161,F,21.0,165.0,49.0,Azerbaijan,AZE,2016,Summer,Rio de Janeiro,Taekwondo,1.0,1
175,M,31.0,182.0,86.0,France,FRA,2016,Summer,Rio de Janeiro,Handball,2.0,1
450,M,26.0,170.0,80.0,Iran,IRI,2016,Summer,Rio de Janeiro,Wrestling,1.0,1
794,M,24.0,161.0,62.0,Russia,RUS,2016,Summer,Rio de Janeiro,Gymnastics,2.0,1

In [35]:
medalC = aux2.groupby(['NOC','Team'])['Medal_Won'].agg('sum').reset_index()
medal_count = medalC.sort_values('Medal_Won',ascending = False)
medal_count.head()

     NOC           Team  Medal_Won
238  USA  United States        256
92   GER        Germany        157
86   GBR  Great Britain        145
193  RUS         Russia        113
48   CHN          China        109

In [36]:
clusgdp=df_GDP_4years[['2016']]
clusgdp.head()

                 2016
Country Code
ABW           24713.7
AFG           578.466
AGO           4166.98
ALB           3952.83
AND           36039.7

In [37]:
clust2=pd.merge(medal_count, clusgdp,  left_on="NOC", right_on="Country Code")

In [38]:
clust2.sort_values('Medal_Won',ascending = False).head()

    NOC           Team  Medal_Won     2016
0   USA  United States        256  51603.5
3   GBR  Great Britain        145  42018.7
6   RUS         Russia        113  9313.79
9   CHN          China        109  6316.92
12  FRA         France         96  36613.4

In [39]:
a1=clust[['Country','Industry']].astype(str)
a2=clust2.astype(str)

In [40]:
clustf=pd.merge(a1, a2,  left_on="Country", right_on="Team").drop('Team', axis=1)
clustf.head()

       Country Industry  NOC Medal_Won                2016
0  Afghanistan     0,24  AFG         0    578.466352941708
1      Albania    0,188  ALB         0    3952.83078116586
2    Argentina    0,358  ARG        22    12334.7982453893
3      Armenia    0,343  ARM         4    3607.29669672271
4    Australia    0,262  AUS        82  56748.420260660496